*{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

header{
	background-color: #E8BE52;
	height: 100px;
	margin-bottom: 40px;
}

h2{
	margin-bottom: 8px;
}

header p{
	margin-top: 0;
	font-size: 14px; 
}

.card{
	border: 1px solid #EDEDED;
	margin-bottom: 20px;
}

.card img{
	width: 100%
}

.content{
	padding: 20px;
}